<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CCFP LAIM</h1>
    <p>El Centro de Capacitación y Formación Profesional LAIM informa que San Miguel ha cerrado sus puertas.</p>
  </body>
</html>
